[Desktop Entry]
Name=Leo
GenericName=Editor and personal information manager
Comment=An outline-oriented editor
Exec=leo
Icon=leo
Terminal=false
Type=Application
Categories=Development;Office
